<div class="container-xl mx-5" style="background-color: beige">
  <nav class="navbar navbar-expand navbar-dark bg-info">
    <span class="navbar-brand">Presence Demo</span>
  </nav>

  <nav class="navbar navbar-expand navbar-dark bg-secondary mb-3">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="directory">Directory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="presence">Presence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="config">Settings</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="p-1">
    <router-outlet></router-outlet>
  </div>

</div>
